h1{
	text-align: center;
}

h2{
	text-align: center;
}

.main-view{
    text-align: center;
}

table {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
        text-align: center;
    width: -webkit-fill-available;
    margin: 38px;
    padding: 38px;
}